.all-div{
  display: grid;
  grid-template-columns: 55% auto;
  /* flex-direction: column; */
  /* width: 500px; */
  /* padding: 5%; */
}

.all-form{
  border: 2px solid #738f54;
  /* width: 35%; */
  width: 95%;
  margin: 2%;
}

.form{
  margin: 5%;
  
}

input{
  /* width: 20%; */
  width: 80%;
}

.img-div{
  text-align: end;
  z-index: -1;
}

.h1{
  text-align: center;
}




