
<div class="center mr-5"><br /><br />
  <h1 >Welcome!!!</h1>
  <h2>Enter an administrator password to view the daily report</h2>
  <input class="form-control" type="password" name="passwordAdmin" id="passwordAdmin" [(ngModel)]="passwordInput">
  <button class="create_btn btn btn-outline-secondary" (click)="checkPassword()" >Check password</button>
  <button class="create_btn btn btn-outline-secondary" *ngIf="samePassword" routerLink="/dailyReport" routerLinkActive="active">Enter</button>
</div>

