<div class="color">
  <img src="assets/Pictures/rebar_logo.png" alt="" width="15%" />
  <ul id="nav" class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/Home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Menu" routerLinkActive="active">Menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/inputs/createOrder" routerLinkActive="active">Create order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/authentication" routerLinkActive="active">Daily report</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
