

<img src="assets/Pictures/shakes_img.JPG" alt="" width="100%" />

<div class="text">
  <h1>Our story</h1>
  <h1>It is not for nothing that they say that every journey of a thousand kilometers begins with one step in the right direction...</h1>
  <h5>We all want to eat in a more balanced way and consume less junk food, get up from the couch and exercise, disconnect from the screens and spend more time with family and friends... succeed at work, invest in relationships... but in the daily race it sometimes seems that the goal just keeps getting further and further away.</h5>
  <h5>So how do you change it? We at rebar believe that the little things make the difference. One stop, if only for one good little moment, mine with myself, is a huge moment.</h5>
</div>